<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Appocal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @Html.Partial("_Navbar")

    <div class="container body-content pt-2">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Appocal - udostępnij swój terminarz.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            checkUnreadMsg();
        })

        function checkUnreadMsg() {
            if ("@Request.IsAuthenticated" == "True") {
                $.ajax({
                    url: "/api/message/GetNumberOfUnread",
                    type: "GET",
                    async: false,
                }).done(function (number) {
                    if (number > 0) {
                        $("#msgLink").addClass("haveMsg")
                    }
                    $("#msgLink").text(`Wiadomości[${number}]`)
                });
            }
        }
    </script>
</body>
</html>