<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Appocal</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Strona główna", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Kontakt", "Contact", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Kalendarz", "Index", "Calendar", null, new { @class = "nav-link" })
                </li>
                @if (User.IsInRole("Business"))
                {
                    <li class="nav-item">
                        @Html.ActionLink("Ustawienia strony", "Settings", "BusinessSite", null, new { @class = "nav-link" })
                    </li>
                }
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Wiadomości", "Index", "Messenger", null, new { @class = "nav-link" })
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>
