<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#"><i class="far fa-calendar-alt"></i> Appocal</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                @if (!Request.IsAuthenticated)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Strona główna", "Index", "Home", null, new { @class = "nav-link" })
                    </li>
                }
                @if (User.IsInRole("Business"))
                {
                    <li class="nav-item">
                        @Html.ActionLink("Kalendarz", "Index", "Calendar", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Ustawienia strony", "Settings", "BusinessSite", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Usługi", "Services", "BusinessSite", null, new { @class = "nav-link" })
                    </li>
                }

                @if (User.IsInRole("Individual"))
                {
                    <li class="nav-item">
                        @Html.ActionLink("Spis firm", "BusinessList", "User", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Twoje wizyty", "Schedule", "User", null, new { @class = "nav-link" })
                    </li>
                }
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item">
                        @Html.ActionLink("Wiadomości[0]", "MessageBox", "Message", null, new { @class = "nav-link", id = "msgLink" })
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>
