@using Appocal.ViewModels
@model LoginViewModel
@{
    ViewBag.Title = "Zaloguj";
}

<div class="row">
    <div class="col-12 col-md-8 col-lg-6 m-auto">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h3>Zaloguj się</h3>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                    <div >
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    <div >
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                </div>
                <div class="form-group">
                    <div class="w-100 text-center">
                        <input type="submit" value="Zaloguj" class="btn btn-primary" />
                    </div>
                </div>
                <p class="text-right">
                    @Html.ActionLink("Zarejestruj się jako nowy użytkownik", "Register",new { }, new { @class="btn-outline-primary btn btn-sm"})
                </p>
                @* Włącz ten element po włączeniu potwierdzenia konta dla funkcji resetowania hasła
                    <p>
                        @Html.ActionLink("Nie pamiętasz hasła?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}