@model Appocal.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Zarejestruj";
}
    <div class="col-12 col-md-8 col-lg-6 m-auto">

        <h3 class="mb-3">Utwórz nowe konto</h3>
        <h5>Wybierz typ konta:</h5>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-primary active">
                <input type="radio" name="userType" value="IndividualForm" autocomplete="off" @(Model.AccountType == "Individual" ? "checked" : "") />
                Indywidualne
            </label>
            <label class="btn btn-outline-primary">
                <input type="radio" name="userType" value="BusinessForm" autocomplete="off" @(Model.AccountType == "Business" ? "checked" : "") />
                Biznesowe
            </label>
        </div>
        <hr />
        <div id="registrationForm">
            @Html.Partial(Model.AccountType + "Form", Model)
        </div>
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            $('input[type=radio][name=userType]').change(function () {
                var url = '@Url.Action("GetPartialView", "Account")';
                var partialView = this.value;
                console.log(url);
                console.log(partialView);
                $.ajax({
                    type: "POST",
                    url: url + "?viewName=" + partialView
                }).done(function (result) {
                    $('#registrationForm').html(result);
                    $.validator.unobtrusive.parse('#registrationForm');
                }).fail(function (e) {
                    console.log(e.responseText);
                });
            });



        });
    </script>

}
