@model Appocal.ViewModels.BusinessDescriptionViewModel
@{
    ViewBag.Title = "Ustawienia";
}

<h2>Ustawienia</h2>
@Html.ActionLink("Zobacz swoją stronę", User.Identity.Name, "Site", new { }, new { @class = "btn btn-primary ml-3" })

@using (Html.BeginForm("ChangeSettings", "BusinessSite"))
{
    @ViewBag.SuccessMessage
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="container">
        <div class="form-group">
            <label>Nazwa:</label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group">
            <label>Skrócony opis:</label>
            @Html.TextBoxFor(m => m.ShortDescription, new { @class = "form-control" })
        </div>
        <div class="form-check">
            @Html.CheckBoxFor(m => m.Public, new { @class = "form-check-input", id = "publicCheck" })
            <label class="form-check-label" for="publicCheck">Opublikuj</label>
        </div>
        <h4 class="mt-2">Ustawienia wizytówki</h4>
        <div class="form-group">
            <label>Tytuł strony:</label>
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Zawartość strony(opis):</label>
            <div>
                @Html.TextAreaFor(m => m.Content, 5, 1, new { @class = "form-control", id = "editor" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 mt-3">
                <input type="submit" class="btn btn-primary" value="Zapisz" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/summernote")
    <script>
        $(document).ready(function () {
            $('#editor').summernote({
                minHeight: 300,
                lang: 'pl-PL',
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link']],
                    ['view', ['fullscreen', 'codeview', 'help']],
                ],
            });
        });
    </script>

}