@model Appocal.ViewModels.WorkTimeViewModel
@{
    ViewBag.Title = "Add new time";
}

<div class="col-12 col-md-6 m-auto">
    <h2>Dodaj nowy czas pracy</h2>
    @using (Html.BeginForm("SaveWorkTime", "Calendar"))
    {
        if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success m-2">@ViewBag.SuccessMessage</div>
        }
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div>
            <label>Data i godzina rozpoczęcia pracy:</label>
            @Html.TextBoxFor(m => m.AppointmentDate, new { @class = "form-control datetimepicker-input", id = "dateTimeWorkStart", data_toggle = "datetimepicker", data_target = "#dateTimeWorkStart" })
        </div>
        <div>
            <label>Godzina zakończenia pracy:</label>

            @Html.TextBoxFor(m => m.AppointmentEndDate, new { @class = "form-control datetimepicker-input", id = "timeWorkEnd", data_toggle = "datetimepicker", data_target = "#timeWorkEnd" })
        </div>
        <div class="form-group">
            <label>Powtarzaj</label>
            @Html.DropDownListFor(m => m.Repeat,
                                new SelectList(Model.RepeatOptions, "Value", "Desc"),
                                new { @class = "form-control ", id = "selectRepeat" })
            <div id="periodOfTime" class="my-2" hidden>
                przez
                @Html.DropDownListFor(m => m.TimePeriodToRepeat,
                                new SelectList(Model.TimePeriodOptions, "Value", "Desc", "tydzień"),
                                new { @class = "form-control my-2", id = "selectPeriodOfTime" })
            </div>
        </div>
        @Html.HiddenFor(m => m.Id)
        <div class="w-100 text-center">
            <button type="submit" class="btn btn-primary">Dodaj nowy czas pracy</button>
        </div>
    </div>
}

    @section Scripts {
        @Scripts.Render("~/bundles/dateTimePicker")
        <script>
            $(document).ready(function () {

                $(function () {
                    $('#dateTimeWorkStart').datetimepicker({
                        locale: 'pl',
                        minDate: moment()

                    });
                    $('#timeWorkEnd').datetimepicker({
                        format: 'LT',
                        locale: 'pl'
                    });
                });

                $('#selectRepeat').on('change', function () {
                    if (this.value != 0)
                        $("#periodOfTime").removeAttr("hidden");
                    else
                        $("#periodOfTime").attr("hidden", true);
                });
            });
        </script>
    }