@model Appocal.ViewModels.ScheduleViewModel

@{
    ViewBag.Title = "Twoje spotkania";
}

<h2>Lista spotkań:</h2>

<table class="table table-responsive table-hover col-12">
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="widhOfContent">Data</th>
            <th scope="col" class="widhOfContent">Godzina</th>
            <th scope="col">Firma</th>
            <th scope="col">Usługa</th>
            <th scope="col">Czas trwania</th>
            <th scope="col">Status</th>
            <th scope="col">Akcja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model.Appointments)
        {
            <tr>
                <td>@appointment.Date.ToShortDateString()</td>
                <td>@appointment.Date.ToString("HH:mm")</td>
                <td scope="row">@Html.ActionLink(appointment.BusinessName, "show", "BusinessSite", new { name = appointment.BusinessName }, new { })</td>
                <td>@appointment.Service</td>
                <td>@appointment.Duration min.</td>
                <td>@(appointment.Confirmed ? "Potwierdzony" : "Niepotwierdzony")</td>
                <td><button class='btn btn-sm btn-danger ml-1 deleteAppo' appoId="@appointment.Id" title='usuń'><i class='fas fa-trash'></i></button></td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    @Scripts.Render("~/Content/bootbox.js/bootbox.min.js")
    <script>
        $(document).on("click", ".deleteAppo", function () {
            var appoId = $(this).attr("appoid");
            var button = $(this);
            bootbox.confirm({
                message: "Czy na pewno chcesz usunąć ten termin?",
                buttons: {
                    confirm: {
                        label: 'Usuń',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'Anuluj',
                        className: 'btn-secondary'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/calendar/deleteappointment/" + appoId,
                            type: "DELETE"
                        }).done(function (result) {
                            button.closest("tr").remove();
                        });
                    }
                }
            });
        });
    </script>
}