@model Appocal.ViewModels.MessageBoxViewModel
@using Microsoft.AspNet.Identity
@{
    bool seen;
    var user = User.Identity.GetUserName();
}
@{
    ViewBag.Title = "Skrzynka odbiorcza";
}

<h3 class="d-none d-md-block">Skrzynka odbiorcza</h3>
@TempData["message"]
<div class="containter">

    <div class="row">
        <button class="m-2 w-100  d-md-none btn btn-primary" id="chooseConvbtn" opened="0">
            Wybierz rozmówcę <i class="fas fa-caret-down"></i>
        </button>

        <div id="conversations" class="d-none d-md-block col-12 col-md-3">
            @for (int i = 0; i < Model.Conversations.Count(); i++)
            {
                if (user == Model.Conversations[i].User1)
                { seen = Model.Conversations[i].SeenBy1; }
                else { seen = Model.Conversations[i].SeenBy2; }
                <div class="conversation alert alert-@(seen ? "secondary" : "warning")" convId="@i" style="cursor:pointer;">
                    <strong>@(user == Model.Conversations[i].User1 ? Model.Conversations[i].User2 : Model.Conversations[i].User1)</strong><br />
                    @{var lastMessage = Model.Conversations[i].Messages.Last().Message;
                        var shortMsg = lastMessage.Length < 15 ? lastMessage : lastMessage.Substring(0, 15) + "...";}
                    @shortMsg
                </div>
            }
        </div>
        <div class="col-12 col-md-9 conv-box pb-2" id="msgRightCol">
                @{var receiver = Model.Conversations[0].User1 == user ? Model.Conversations[0].User2 : Model.Conversations[0].User1; }
                <h3>Rozmowa z @receiver</h3>
            <div class="col-12" id="messages">
                @foreach (var msg in Model.Conversations[0].Messages)
                {
                    var floating = msg.SenderName == user ? "message-right" : "message-left";
                    <div class='@floating'>@Html.Raw(msg.Message)</div>
                }
            </div>
            <div class="msgBox mt-2">
                <form action="/Message/SendMessage" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" name="Message" required />
                        <input name="ReceiverName" type="hidden" value="@receiver">
                        <input name="SenderName" type="hidden" value="@user">
                        <span class="input-group-btn"><button type="submit" class="btn btn-primary">Wyślij</button></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var conversations = @Html.Raw(Json.Encode(Model.Conversations));

        $(document).ready(function () {
            scrolldown();
        })

        $(document).on('click', "#chooseConvbtn", function () {
            if ($(this).attr("opened") == 0) {
                $('#conversations').removeClass("d-none")
                $(this).html("Schowaj rozmówców <i class='fas fa-caret-up'></i>")
                $(this).attr("opened", 1)
            } else {
                $('#conversations').addClass("d-none")
                $(this).html("Wybierz rozmówcę <i class='fas fa-caret-down'></i>")
                $(this).attr("opened", 0)
            }
        })

        $(document).on("click", ".conversation", function () {
            var thisDiv = $(this);
            var convId = $(this).attr("convId");
            $("#msgRightCol").empty();
            var receiver = conversations[convId].User1 == "@user" ? conversations[convId].User2 : conversations[convId].User1;
            $("#msgRightCol").append(`<h3>Rozmowa z ${receiver}</h3>`)
            $("#msgRightCol").append("<div class='col-12' id='messages'></div>");
            conversations[convId].Messages.forEach(function (msg) {
                var floating;
                msg.SenderName == "@user" ? floating = "message-right" : floating = "message-left";
                var stringToAdd = `<div class='${floating}'>${msg.Message}</div>`;
                $("#messages").append(stringToAdd);
            });

            var msgBox = "<div class='msgBox mt-2'><form action='/Message/SendMessage' method='post'><div class='input-group'>"
                + "<input type = 'text' name='Message' class='form-control' />"
                + `<input name='ReceiverName' type='hidden' value='${receiver}'>`
                + "<input name='SenderName' type='hidden' value='@user'>"
                + "<span class='input-group-btn'><button type='submit' class='btn btn-primary'>Wyślij</button></span>"
                + "</div></form></div>";
            $("#msgRightCol").append(msgBox);

            scrolldown();

            $.ajax({
                url: "/api/message/SetSeen/" + receiver,
                type: "PATCH",
                async: false,
            }).done(function () {
                checkUnreadMsg();
                thisDiv.removeClass("alert-warning");
                thisDiv.addClass("alert-secondary");
            });
        });

        function scrolldown() {
            $("#messages").scrollTop($("#messages")[0].scrollHeight);
        }

    </script>
}