@model Appocal.ViewModels.MessageBoxViewModel
@using Microsoft.AspNet.Identity
@{
    bool seen;
    var user = User.Identity.GetUserName();
}
@{
    ViewBag.Title = "Skrzynka odbiorcza";
}

<h3>Skrzynka odbiorcza</h3>
@TempData["message"]
<div class="containter">
    <div class="row">
        <div class="col-3">
            @for (int i = 0; i < Model.Conversations.Count(); i++)
            {
                ;
                if (user == Model.Conversations[i].User1)
                { seen = Model.Conversations[i].SeenBy1; }
                else { seen = Model.Conversations[i].SeenBy2; }
                <div class="conversation alert alert-@(seen ? "secondary" : "warning")" convId="@i" style="cursor:pointer;">
                    <strong>@(user == Model.Conversations[i].User1 ? Model.Conversations[i].User2 : Model.Conversations[i].User1)</strong><br />
                    @{var lastMessage = Model.Conversations[i].Messages.Last().Message;
                        var shortMsg = lastMessage.Length < 15 ? lastMessage : lastMessage.Substring(0, 15) + "...";}
                    @shortMsg
                </div>
            }
        </div>
        <div class="col-9" id="messages">
            @{var receiver = Model.Conversations[0].User1 == user ? Model.Conversations[0].User2 : Model.Conversations[0].User1; }
            <h3>Rozmowa z @receiver</h3>
            @foreach (var msg in Model.Conversations[0].Messages)
            {
                var floating = msg.SenderName == user ? "message-right" : "message-left";
                <div class='@floating'>@msg.Message</div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var conversations = @Html.Raw(Json.Encode(Model.Conversations))

        $(document).on("click", ".conversation", function () {
            var convId = $(this).attr("convId");
            $("#messages").empty();
            var receiver = conversations[convId].User1 == "@user" ? conversations[convId].User2 : conversations[convId].User1;
            $("#messages").append(`<h3>Rozmowa z ${receiver}</h3>`)
            conversations[convId].Messages.forEach(function (msg) {
                var floating;
                msg.SenderName == "@user" ? floating = "message-right" : floating = "message-left";
                var stringToAdd = `<div class='${floating}'>${msg.Message}</div>`;
                $("#messages").append(stringToAdd);
            });
        });
    </script>
}