@model Appocal.ViewModels.MessageViewModel

@{
    ViewBag.Title = "Napisz wiadomość";
}


@using (Html.BeginForm("SendMessage", "Message"))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="col-12 col-md-8 col-lg-6 m-auto">
<h3>Wiadomość do @Model.ReceiverName</h3>
        <div>
                @Html.TextAreaFor(m => m.Message, 5, 1, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <div class="w-100 text-center mt-2">
                @Html.HiddenFor(m => m.ReceiverName)
                @Html.HiddenFor(m => m.SenderName)
                <input type="submit" class="btn btn-primary" value="Wyślij" />
            </div>
        </div>
    </div>
}